<%- include('../includes/t-head.ejs') %>

    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/app.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/flaticon.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/style.css">
    <link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/spacing.min.css">
</head>

<body>
    <%- include('../includes/t-navigation.ejs') %>

    <div class="breadcumb-wrapper breadcumb-layout1 background-image" data-vs-img="assets/img/breadcrumb/breadcumb-img-1.jpg" data-overlay="primary3" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content py-100 py-lg-140">
                <h1 class="breadcumb-title title1 text-white mb-0">Shopping Cart</h1>
                <ul class="bg-white text-primary3">
                    <li><a href="products/html/clianio/demo/index.html">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="vs-cart-wrapper py-60 py-lg-130">
        <div class="container">
            <div class="cart-table table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th class="cart-col-image" scope="col">Image</th>
                            <th class="cart-col-productname" scope="col">Object</th>
                            <th class="cart-col-price" scope="col">Property</th>
                            <!-- <th class="cart-col-quantity" scope="col">Quantity</th> -->
                            <th class="cart-col-total" scope="col">Total</th>
                            <th class="cart-col-remove" scope="col">Remove</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <% if (services.length > 0) { %>
                        <% services.forEach(p => { %>   
                        <tr>
                            
                            <% console.log(p.serviceId.object); %>
                            <td>
                                <a href="index.html" class="cart-productimage">
                                    <img src="/tailor/products/html/clianio/demo/assets/img-tailor/cart/cart-img-1.jpg" alt="product image">
                                </a>
                            </td>
                            <td>
                                <a href="index.html" class="cart-productname"><%= p.serviceId.object %></a>
                            </td>
                            <td>
                                <a href="index.html" class="cart-productname">
                                    <%= p.serviceId.p8 %> 
                                    
                                </a>
                            </td>
                            <td>
                                <a href="index.html" class="cart-productname">
                                    <%= p.serviceId.p7 %> 
                                    
                                </a>
                            </td>
                            <!-- <td class="cart-price">
                                $800.00
                            </td>
                            <td>
                                <span class="cart-totalprice">
                                    $800.00
                                </span>
                            </td>-->
                            <td>
                                <form action="/delete-service" method="POST">
                                    <input type="hidden" value="<%= p._id %>" name="serviceId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="cart-removeproduct" type="submit"><i class="fas fa-times"></i></button>
                                </form>
                                
                            </td> 
                            
                        </tr>
                        <% }) %>

                        <% } else { %>
                            <h1>No Products in Cart!</h1>
                        <% } %>

                        <tr>
                            <td colspan="6" class="actions">
                                <!-- <form action="#" class="vs-cart-coupon">
                                    <label for="coupon-field" class="sr-only">Have a coupon code?</label> <input class="form-control" type="text" id="coupon-field" placeholder="Enter coupon code" required="required"> 
                                    <button type="submit" class="vs-btn style3">Submit</button>
                                </form> -->
                                <a href="index.html" class="vs-btn style3 mb-2 mb-md-0">Continue Shopping</a> <a href="#" class="vs-btn style3">Update Cart</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="vs-cart-bottom mt-4">
                <div class="row justify-content-end">
                    <div class="col-md-6 col-lg-4">
                        <div class="vs-cart-summary">
                            <h3 class="summary-title">Cart Totals</h3>
                            <table class="table table-totals">
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td>$2498.00</td>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <td>$100.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Order Total</td>
                                        <td>$2598.00</td>
                                    </tr>
                                </tfoot>
                            </table><a href="/checkout" class="vs-btn style3">Proceed To Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    
    <%- include('../includes/t-footer.ejs') %>

    <div class="sidemenu-wrapper d-none d-lg-block">
        <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget widget_about">
                <div class="vs-about"><a href="products/html/clianio/demo/index.html"><img src="/tailor/products/html/clianio/demo/assets/img/logo.png" alt="Clianio"></a>
                    <p class="about-text mb-0">Quickly recaptiualize real-time interfaces and timely models. Proactively exploit viral meta-services for interdependent customer service. Dynamically actualize bleeding-edge internal</p>
                </div>
            </div>
            <div class="widget widget_contact">
                <div class="widget-contact">
                    <p><i class="fas fa-phone-alt"></i><a href="tel:+4256121289">+4256 121 289</a></p>
                    <p><i class="fal fa-envelope"></i><a href="mailto:info@carvis.com">info@carvis.com</a></p>
                    <p><i class="far fa-map-marker-alt"></i>6265 Brockport NY 14420</p>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget_title">Recent News</h3>
                <div class="vs-recent-post">
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-1.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Collaboratively excellent based networks.</a> <span><i class="fal fa-calendar-alt"></i>20 June, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-2.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Assertively visualize best-of-breed .</a> <span><i class="fal fa-calendar-alt"></i>20 March, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-3.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Conveniently engage optimal leadership.</a> <span><i class="fal fa-calendar-alt"></i>20 July, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-4.jpg" alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Objectively e-business applications.</a> <span><i class="fal fa-calendar-alt"></i>26 Augest, 2020</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div><a href="#" class="scrollToTop bg-primary text-white border-primary"><i class="far fa-long-arrow-alt-up"></i></a>
    <script src="/tailor/products/html/clianio/demo/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/app.min.js"></script>
    <script src="maps/api/js_key_aizasydc3ip9ivc0nixc6v14cklq1hznf_65qeq.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vscustom-carousel.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vsmenu.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/ajaxmail.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/main.js"></script>
    <center>
        <font size="2">This is the free demo result. For a full version of this website, please go to <a href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/">https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/</a></font>
    </center>
</body>

</html>
