<%- include('../includes/t-head.ejs') %>

<link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/app.min.css">
<link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/flaticon.min.css">
<link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/fontawesome.min.css">
<link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/style.css">
<link rel="stylesheet" href="/tailor/products/html/clianio/demo/assets/css/spacing.min.css">

</head>

<body>

    <%- include('../includes/t-navigation.ejs') %>

    <%- include('../includes/banner.ejs') %>

    
    <% if (servs.length > 0) { %>
        <% var l = servs.length; %>
        <% console.log('servs[0]'); %>

        
    <!-- 
    <div class="card" style="width: 80px;">
        <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/r/<%= servs[l-1].p1 %>.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= servs[l-1].p1 %></h5>
        </div>
    </div> -->
    <div class="container">
        <div class="row m-5 text-center">
            <% if(servs[l-1].p1 != undefined){ %>
                <div class="col-sm-4">
                    <div class="card vs-service">
                        <div class="card-body service-header">
                            <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/<%= servs[l-1].object %>/<%= servs[l-1].p1 %>.jpg"
                                class="img-fluid" alt="..." style="height: 150px;">
                            <h5 class="card-title"><%= servs[l-1].p1 %></h5>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if(servs[l-1].p2 != undefined){ %>
                <div class="col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/<%= servs[l-1].object %>/<%= servs[l-1].p2 %>.jpg"
                                class="img-fluid" alt="..." style="height: 150px;">
                            <h5 class="card-title"><%= servs[l-1].p2 %></h5>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if(servs[l-1].p3 != undefined){ %>
                <div class="col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/<%= servs[l-1].object %>/<%= servs[l-1].p3 %>.jpg"
                                class="img-fluid" alt="..." style="height: 150px;">
                            <h5 class="card-title"><%= servs[l-1].p3 %></h5>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if(servs[l-1].p4 != undefined){ %>
                <div class="col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/<%= servs[l-1].object %>/<%= servs[l-1].p4 %>.jpg"
                                class="img-fluid" alt="..." style="height: 150px;">
                            <h5 class="card-title"><%= servs[l-1].p4 %></h5>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if(servs[l-1].p5){ %>
            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-body">
                        <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/<%= servs[l-1].object %>/<%= servs[l-1].p5 %>.jpg"
                            class="img-fluid" alt="..." style="height: 150px;">
                        <h5 class="card-title"><%= servs[l-1].p5 %></h5>
                    </div>
                </div>
            </div>
            <% } %>

            <% if(servs[l-1].p6 != undefined){ %>
                <div class="col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/<%= servs[l-1].object %>/<%= servs[l-1].p6 %>.jpg"
                                class="img-fluid" alt="..." style="height: 150px;">
                            <h5 class="card-title"><%= servs[l-1].p5 %></h5>
                        </div>
                    </div>
                </div>
            <% }%>
            
            

            <div class="container">
                <div class="row my-3">
                    <div class="col-md-4 themed-grid-col">
                      <div class="py-2 border">
                        <h3 class="title heading5">Date: <%= servs[l-1].p7  %></h3>
                      </div>
                      <div class="py-2 border">
                        <h3 class="title heading5">Plan: <%= servs[l-1].p8  %></h3>                      </div>
                      
                    </div>
                    <div class="pt-2 col-md-8 themed-grid-col border">
                        <h3 class="title heading5">
                            Extra Message: 
                            <br>
                            <%= servs[l-1].p9  %>
                        </h3> 
                    </div>
                  </div>
                  <div class="vs-checkout-submit text-center">
                <form action="/basket" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="vs-btn style4">Add to Basket <i
                            class="far fa-long-arrow-right"></i></button>
                    <input type="hidden" name="serviceId" value="<%= servs[l-1]._id %>">
                </form>
            </div>
            </div>
            
            

        </div>
    </div>



    <!-- <div class="vs-checkout-area py-60 py-lg-130">
        <div class="container">
            <div class="row">

                <div class="col-xl-3"></div>

                <div class="col-xl-6">

                    <div class="vs-orderinfo-wrap bg-light mb-30 mt-5 mt-xl-0 py-4 px-4 bg-light-theme">
                        <div class="table-responsive">
                            <table class="table table-borderless checkout-ordertable">
                                <thead>
                                    <tr>
                                        <th>object</th>
                                        <th>property</th>
                                        <th>image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Collor</td>
                                        <td><%= servs[l-1].p1 %></td>
                                        <td>
                                            <a href="index.html" class="cart-productimage">
                                                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/r/<%= servs[l-1].p1 %>.jpg"
                                                    alt="product image" style="height: 80px;">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>frontLook</td>
                                        <td><%= servs[l-1].p2 %></td>
                                        <td>
                                            <a href="index.html" class="cart-productimage">
                                                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/r/<%= servs[l-1].p1 %>.jpg"
                                                    alt="product image" style="height: 80px;">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>backLook</td>
                                        <td><%= servs[l-1].p3 %></td>
                                        <td>
                                            <a href="index.html" class="cart-productimage">
                                                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/Look/<%= servs[l-1].p2 %>.jpg"
                                                    alt="product image" style="height: 80px;">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>placket</td>
                                        <td><%= servs[l-1].p4 %></td>
                                        <td>
                                            <a href="index.html" class="cart-productimage">
                                                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/ook/<%= servs[l-1].p3 %>.jpg"
                                                    alt="product image" style="height: 80px;">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>cuff</td>
                                        <td><%= servs[l-1].p5 %></td>
                                        <td>
                                            <a href="index.html" class="cart-productimage">
                                                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/et/<%= servs[l-1].p4 %>.jpg"
                                                    alt="product image" style="height: 80px;">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>pocket</td>
                                        <td><%= servs[l-1].p6 %></td>
                                        <td>
                                            <a href="index.html" class="cart-productimage">
                                                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/<%= servs[l-1].p5 %>.jpg"
                                                    alt="product image" style="height: 80px;">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td><%= servs[l-1].p7 %></td>
                                        <td>
                                            <a href="index.html" class="cart-productimage">
                                                <img src="/tailor/products/html/clianio/demo/assets/img-tailor/precheck/blouse/t/<%= servs[l-1].p6 %>.jpg"
                                                    alt="product image" style="height: 80px;">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>plan</td>
                                        <td><%= servs[l-1].p8 %></td>
                                    </tr>
                                    <tr>
                                        <td>extraMessage</td>
                                        <td><%= servs[l-1].p9 %></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="vs-checkout-submit">
                            <% if (isAuthenticated) { %>

                            <% } %>
                            <form action="/basket" method="post" style="text-align: center;">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="vs-btn style4">Add to Basket <i
                                        class="far fa-long-arrow-right"></i></button>
                                <input type="hidden" name="serviceId" value="<%= servs[l-1]._id %>">
                            </form>
                        </div>
                    </div>

                </div>
                <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
            </div>
        </div>
    </div> -->
    <%- include('../includes/t-footer.ejs') %>

    <div class="sidemenu-wrapper d-none d-lg-block">
        <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget widget_about">
                <div class="vs-about"><a href="products/html/clianio/demo/index.html"><img
                            src="/tailor/products/html/clianio/demo/assets/img/logo.png" alt="Clianio"></a>
                    <p class="about-text mb-0">Quickly recaptiualize real-time interfaces and timely models. Proactively
                        exploit viral meta-services for interdependent customer service. Dynamically actualize
                        bleeding-edge internal</p>
                </div>
            </div>
            <div class="widget widget_contact">
                <div class="widget-contact">
                    <p><i class="fas fa-phone-alt"></i><a href="tel:+4256121289">+4256 121 289</a></p>
                    <p><i class="fal fa-envelope"></i><a href="mailto:info@carvis.com">info@carvis.com</a></p>
                    <p><i class="far fa-map-marker-alt"></i>6265 Brockport NY 14420</p>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget_title">Recent News</h3>
                <div class="vs-recent-post">
                    <div class="recent-post">
                        <div class="post-img"><img
                                src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-1.jpg"
                                alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Collaboratively excellent based networks.</a>
                            <span><i class="fal fa-calendar-alt"></i>20 June, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img
                                src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-2.jpg"
                                alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Assertively visualize best-of-breed .</a>
                            <span><i class="fal fa-calendar-alt"></i>20 March, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img
                                src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-3.jpg"
                                alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Conveniently engage optimal leadership.</a>
                            <span><i class="fal fa-calendar-alt"></i>20 July, 2020</span></div>
                    </div>
                    <div class="recent-post">
                        <div class="post-img"><img
                                src="/tailor/products/html/clianio/demo/assets/img/widget/post-thumb-4.jpg"
                                alt="Recent Post Image"></div>
                        <div class="post-content"><a href="index.html">Objectively e-business applications.</a> <span><i
                                    class="fal fa-calendar-alt"></i>26 Augest, 2020</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div><a href="#" class="scrollToTop bg-primary text-white border-primary"><i
            class="far fa-long-arrow-alt-up"></i></a>
    <script src="/tailor/products/html/clianio/demo/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/app.min.js"></script>
    <script src="maps/api/js_key_aizasydc3ip9ivc0nixc6v14cklq1hznf_65qeq.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vscustom-carousel.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/vsmenu.min.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/ajaxmail.js"></script>
    <script src="/tailor/products/html/clianio/demo/assets/js/main.js"></script>
</body>

</html>